<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">SCM</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- main content -->
     <section th:replace="${content}"></section>
     <section th:replace="~{navbar :: navbar}"></section>
    <!-- flow bite content -->
    <script src="https://cdnjs.cloudfare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <th:block th:replace="${script}"></th:block>
  </body>
</html>
