<!DOCTYPE html>
<html
  lang="en"
  data-th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Sign up</title>
  </head>
  <body>
    <div id="content">
      <h1 class="text-green-800">Welcome to signup page</h1>
      <p class="text-red-900">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eveniet
        aliquid ex labore sequi a natus dignissimos in numquam, animi molestiae
        voluptatibus veritatis iusto magnam minus quam tenetur doloremque
        voluptates.
      </p>
    </div>
    <script>
      console.log("Hello");
    </script>
  </body>
</html>
